# PostgreSQL
FERN_DB_USERNAME=fern
FERN_DB_PASSWORD=fern
FERN_MASTER_JDBC_URL=jdbc:postgresql://127.0.0.1:55432/fern_master
FERN_OPERATIONAL_JDBC_URL=jdbc:postgresql://127.0.0.1:55432/fern_operational
